* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 1rem Inter, sans-serif;
}

:root {
  --text-color: #FFFFFF;
  --text-info: #FFFFFF;
  --bg-url: url(./imgs/bg_desktop_dark.png) no-repeat center/cover;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(168, 10, 216, 0.5);
  --social-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./imgs/moon.svg);
}

.light {
  --text-color: #000000;
  --text-info: #000000;
  --bg-url: url(./imgs/bg_desktop_light.png) no-repeat center/cover;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(168, 10, 216, 0.3);
  --social-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./imgs/sun.svg);
}

body {
  padding: 3.5rem 6.5rem;
  background: var(--bg-url);
  height: 100vh;

  @media(max-width: 760px;) {
    padding: 5.5rem 3.5rem;
  }

  @media(max-width: 400px;) {
    padding: 1rem;
  }
}

.switch{
  margin-top: 1rem;
  position: relative;
  width: 3.2rem;
}

.switch button {
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: 0;
  border-radius: 50%;
  background: white var(--switch-bg-url) no-repeat center;

  position: absolute;  
  left: 0;
  z-index: 1;
  transform: translateY(-10%);
  cursor: pointer;
  animation: slide-back .4s forwards;
}

.switch button:hover {
  outline: 8px solid var(--social-color);
}

.switch span {
  display: block;
  width: 3.5rem;
  height: 1.5rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
  
}

.light .switch button {
  animation: slide-in .4s forwards;
}

main {
  display: grid;
  grid-template-columns: 1fr 0.5fr;

  width: 100%;
  min-height: calc(100% - 100px);
  max-width: 1400px;
  margin: 40px auto 0;
  gap: 5rem;

  @media(max-width: 760px;) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1.5rem;
}

.text textarea {
  width: 100%;
  height: 100%;
  resize: none;
  min-height: 180px;
  border: none;
  outline: none;
  font-size: 2rem;
  color: var(--text-color);
  background: transparent;
  text-transform: lowercase;
}

::placeholder {
  color: var(--text-color);
  font-size: 2rem;
  outline: none;
}

.informacoes {
  display: flex;
  align-items: center;
  gap: 8px;
}

.informacoes span {
  font-size: 0.75rem;
  margin-top: 0;
  color: var(--text-info);
}

.botoes {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  margin-top: 1rem;

  @media(max-width: 300px;) {
    flex-direction: column;
  }
}

.botoes button {
  width: 100%;
  padding: 1rem;
  border-radius: 18px;
  min-width: 160px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3 ease-in;
}

.criptografar, .descriptografar, .copiar {
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  color: var(--text-color);
}

.criptografar:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid #FFFFFF;
  backdrop-filter: blur(4px);
}

.descriptografar:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid #FFFFFF;
  backdrop-filter: blur(4px);
}

.copiar{
  width: 100%;
  padding: 1rem;
  border-radius: 18px;
  min-width: 168px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3 ease-in;

  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  color: var(--text-color);
}

.copiar:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid #FFFFFF;
  backdrop-filter: blur(4px);
}

.resultado {
  margin-top: -160px;
  background-color: transparent;
  text-align: center;
  max-width: 400px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  
  
  @media (max-width: 760px) {
    margin-top: 0;
    max-width: 100%;
  }
}

.resultado .sem-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100%;
}

.resultado .com-texto{
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.com-texto textarea {
  width: 100%;
  height: calc(100% - 70px);
  resize: none;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
  text-transform: lowercase;
  color: var(--text-color);
}

.sem-img {
  width: 100%;

  @media(max-width:768px) {
    display: none;

  }
}

.resultado strong {
  font-size: 1.5rem;
  color: var(--text-color);
}

.resultado span {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--text-color);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
  margin-top: -1.25rem;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: var(--text-color);
  border-radius: 50%;
  transition: background .2s;
}

footer a:hover {
  background:var(--social-color) ;
}

/*animações*/
 
@keyframes slide-in {
  from {
    left: 0;
  }
  to{
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
} 